@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');;

:root{
  --cor-de-fundo: ;
  --cor-das-letras: ;
  --cor-do-link: black;
}

body{
  box-sizing: border-box;
  background-color: #F5F5F5;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1;
}

ol, ul, li{
  list-style: none;
}

a{
  text-decoration: none;
  color: rgb(0, 0, 0);
}

header{
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-n-first{
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*Sessão menu*/

section.menu{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  height: 90px;
  padding: 32px 0 32px 20px;
}

nav{
  display: flex;
  align-items: center;
}

.menu-list{
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
  font-weight: 700;
  width: 1020px;
}

.title{
  width: 100%;
  display: flex;
  justify-content: center;
}

.title-div{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.title-div img{
  border-radius: 50%;
  width: 15%;
}

.title-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 0 20px;
}

.title-bio{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 52px;
  font-weight: 900;
}

.title-subsection{
  display: flex;
  align-items: center;
  justify-content: center;
}

.network-links{
  display: flex;
  gap: 32px; 
  align-items: center;
  justify-content: center;
}

.arrow-link{  
  width: 16px;
  align-self: center;
}

.about-container{
  padding: 0 0 0 20px;
  background-color: #EAF2FD;
  height: 100%;
  line-height: normal;
}

.about-title{
  font-size: 32px;
  font-weight: 900;
  text-align: center;
  padding: 20px 0 0 0;
}

.about-paragraph{
  text-align: justify;
  font-size: 18px;
}

.skills{
  display: block;
  justify-content: center;
  padding: 50px;
  height: 330px;
}

.skills-title{
  display: flex;
  justify-content: center;
  font-size: 32px;
}

.skills-line{
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
}

.skills-box{
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills-img{
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-name{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  font-weight: 700;

}

.hobbies{
  display: block;
  justify-content: center;
  padding: 50px;
  height: 330px;
}

.hobbies-title{
  display: flex;
  justify-content: center;
  font-size: 32px;
}

.hobbies-line{
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
}

.hobbies-box{
  display: flex;
  align-items: center;
  justify-content: center;
}

.hobbies-img{
  display: flex;
  justify-content: center;
  align-items: center;
}

.hobbies-name{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  font-weight: 700;
}

.academic{
  background-color: #EAF2FD;
  height: 330px;
}

.academic-title{
  display: flex;
  justify-content: center;
  font-size: 32px;
}

.academic-courses{
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-alura-academic{
  width: 190px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.academic-courses-box{
  display: flex;
  align-items: center;
  justify-content: center;
}

.academic-courses-list{

}

.academic-courses-item-img{
  display: flex;
  justify-content: center;
  align-items: center;
}

.academic-courses-item-title{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: 700;
}

.academic-courses-item-subtitle{
  display: flex;
  align-items: center;
  justify-content: center;
}

.experience{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.experience-section-title{
  display: flex;
  font-size: 32px;
  font-weight: 700;
  align-items: center;
  justify-content: center;
}

.experience-box{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  gap: 150px;
  padding-bottom: 50px;
}

.experience-img{  
  display: flex;
  width: 50%;
  padding-left: 50px;
  border-radius: 10px;
}

.experience-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.experience-title{
  display: flex;
  align-items: center;
  justify-content: center;
}

.experience-text{
  display: flex;
  align-items: center;
  justify-content: center;
}

.experience-description{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

.experience-repo{
  display: flex;
}

.experience-demo{
  display: flex;
}

.experience-btn-repo{
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: black;
  color: white;
  padding: 20px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.experience-btn-demo{
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: black;
  color: white;
  padding: 20px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.contact-img-form{
  position: relative;
  left: 250px;
}

form{
  margin: 0 auto;
  width: 750px;
  /* padding: 1em; */
  /* border: 1px solid #ccc; */
  /* border-radius: 1em; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

form div + div{
  margin-top: 1em;;
}

label{
  display: inline-flex;
  width: 75px;
  justify-content: space-around;
  font-size: 18px;
  font-family: "Lato", sans-serif;
}

input, 
textarea{
  font-size: 1em;
  font-family: sans-serif;
  width: 656px;
  height: 56px;
  border-radius: 4px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #999;
  padding: 1em;
}

input:focus, 
textarea:focus{
  border-color: #000;
}

textarea{
  vertical-align: top;
  height: 133px;
  width: 656px;
  resize: vertical;
}

.form-pattern{
  background-color: #EAF2FD;
  width: 100%;
  height: 788px;
  display: flex;
  align-items: center;
}

.button{
  padding-left: 90px;
}

.form-submit{
  margin-left: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-decoration: none;
  color: #333333;
  font-size: 18px;
  border-radius: 8px;
  width: 250px;
  height: 45px;
  font-weight: 500;
  border: 1px solid #000000;
  position: relative;
  transition: 0.3s;
  background-color: #ffffff00;
}

.form-submit::before, .form-submit::after{
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 15px;
  transform-origin: 100% 50%;
  height: 1px;
  width: 11px;
  background-color: #333;
  border-radius: 2px;
  will-change: transform;
  transition: .3s
}

.form-submit::before{
  transform: translateY(-50%) rotate(30deg);
}

.form-submit::after{
  transform: translateY(-50%) rotate(-30deg);
}

.form-submit:hover::before{
  transform: translate(5px, -50%) rotate(30deg);
}

.form-submit:hover::after{
  transform: translate(5px, -50%) rotate(-30deg);
}

.footer{

}

.footer-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 500;
  font-style: italic;
  font-size: 1rem;
}